/* TODO: Use this file to give the shiny app a style like the official F1 Website.*/
.navbar navbar-expand-md navbar-default{
  background-color: #15151e;
}


.main.bslib-gap-spacing.html-fill-container{
  background-color: #000000;
}
.bslib-page-title.navbar-brand{
  color: #e10600
}